<div class="container body">
    <div class="main1">
        <h1>Bem-vindo(a) a Key Manager!</h1>
        <div class="row" >
            <a routerLink="autenticator">
                <button class="button-86"  role="button">Autenticação</button>
            </a>
            <a routerLink="availableports">
                <button class="button-86" style="margin-left: 20px;" role="button">Portas Disponíveis</button>
            </a>
            
        </div>
    </div>
    <div class="main2">
        <img src="assets/img/Key-bro.png" alt="Imagem de código de barras">
    </div>
</div>