

<body>
  <app-navbar></app-navbar>  

<main>
    <h1>Portas disponíveis ao usuário</h1>

    <div class="portas">
        <div class="porta p1">
            <h4>Porta <br><strong>01</strong></h4>
        </div>
        <div class="porta p2">
            <h4>Porta <br><strong>02</strong></h4>
        </div>
        <div class="porta p3">
            <h4>Porta <br><strong>03</strong></h4>
        </div>
        <div class="porta p4">
            <h4>Porta <br><strong>04</strong></h4>
        </div>
    </div>
</main>

<footer>
    <h5>As portas 01 e 03 estão disponíveis, verifique-as na sua estante.</h5>
</footer>
</body>