

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}
main{
    margin-top: 5pc;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
}

a:hover {
    color: #0b57c8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #0e0e0e;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    margin-right: 0.6em;
}

.brand h2 {
    transition: 0.4s;
}

.brand:hover h2 {
    color: #0b57c8;
}

.links {
    display: flex;
    list-style: none;
}

.links li {
    margin-right: 1em;
}

#add a {
    color: #0b57c8;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.portas {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.porta {
    flex: 1;
    min-width: 200px;
    padding: 50px;
    text-align: center;
    border-radius: 12px;
    font-size: 1.5em;
}

.porta strong {
    font-size: 4em;
    display: block;
    margin-top: 10px;
}

.p1 {
    background-color: #94ff3d;
}

.p2 {
    background-color: #ff3d3d;
}

.p3 {
    background-color: #91ff3d;
}

.p4 {
    background-color: #ff3d3d;
}

footer {
    background-color: #090909;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}